<!--ユーザー情報-->
<h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, size: "100x100", fallback: "no_image.jpg", class:'mb-3' %>
  <table class="table table-hover table-inverse">
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
      <tr>
        <th>follows</th>
        <th>
          <%= link_to following_user_path(user.id) do %>
            <%= user.following.count %>
          <% end %>
        </th>
      </tr>
      <tr>
        <th>followers</th>
        <th>
          <%= link_to followers_user_path(user.id) do %>
            <%= user.followers.count %>
          <% end %>
        </th>
      </tr>

    </tbody>
  </table>
<div class="row">

  <% unless current_user == user %>
  <div id="follow">
  　<% if current_user.following?(user) %>
    <!--フォローしている場合-->
    <!--(current_user.active_relationships.find_by(followed_id: user.id))で
        Relationの自分がフォローしている方にいる時のfollowed_idに相手のuser.idもいるPKを取得しているのかも？？-->
      <%= link_to relationship_path(current_user.active_relationships.find_by(followed_id: user.id)), class:'btn btn-info',  method: :delete do %>
        フォローを外す
      <% end %>

    <% else %>
    <!--フォローしていない場合-->
      <%= link_to relationships_path( followed_id: user.id), class:'btn btn-success', method: :post do %>
        フォローする
      <% end %>
    <% end %>
  </div>
<% end %>

  <% if user.id == current_user.id %>
    <%= link_to edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block' do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>

<!--新期投稿-->
<h2 class="mt-3">New book</h2>
  <%= form_with model: book, url: "/books", local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Create Book",class: 'btn btn-success' %>
  </div>
  <% end %>